[Unit]
Description=Docker data mountpoint
Requires=pando-data.service pando-data-reset.service var-volatile-lib.service
After=pando-data.service pando-data-reset.service var-volatile-lib.service

[Mount]
What=/mnt/data/docker
Where=/var/lib/docker
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
